canvas{
    background-color: lightblue;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
    display: block;
  }
 #scoreShow{
  text-align: center;
  font-size: 30px;
 }